{% extends 'base.html' %}

{% block title %}{{ item.name }} - Edit{% endblock %}

{% block body %}
<h2>{{item.name}} - Edit</h2>

<form action= "/edit" method="POST">
    
    <label for="sku">SKU:</label>   
    <input type="text" readonly="readonly" id="sku" name="sku" value={{item.sku}}>
    <br>
    <br>
    
    <label for="name">Name:</label>   
    <input type="text" id="name" name="name" value={{item.name}}>
    <br>
    <br>

    <label for="description">Description:</label>   
    <input type="textarea" id="description" name="description" value={{item.description}}>
    <br>
    <br>

    <label for="quantity">Quantity:</label>   
    <input type="text" id="quantity" name="quantity" value={{item.quantity}}>
    <br>
    <br>

    <label for="unit">Unit:</label>   
    <input type="text" id="unit" name="unit" value={{item.unit}}>
    <br>
    <br>
    
    <label for="unit_cost">Unit Cost:</label>   
    <input type="text" id="unit_cost" name="unit_cost" value={{item.unit_cost}}>
    <br>
    <br>
    
    <label for="location">Location:</label>   
    <input type="text" id="location" name="location" value={{item.location}}>
    <br>
    <br>

    <button type="submit">Submit</button>
  </form>




{% endblock %}